# Introduction to Pandas

## Packages

We will use many packages in this data science program. Recall, we download packages in the <b> terminal</b> using 
```terminal    
    pip (or conda) install package_name
```
or in a <b> Jupyter notebook cell</b>,

```
    !pip install package_name
```

A Python module is simply a Python source file, which can expose classes, functions and global variables. A Python package is simply a directory of Python module(s).

We then must <b> import packages</b> we have downloaded to use functions and other components of the package within our jupyter notebook with the following command:

In [ ]:
# Note that there is no output when you import a package
import numpy as np
import pandas as pd

Example of packages/modules we will use are: Numpy, pandas, matplotlib, scikit-learn

## What is NumPy? 

NumPy stands for ‘Numerical Python’ or ‘Numeric Python’. It is an open source module of Python which provides fast mathematical computation on arrays and matrices.  

We will not cover NumPy in great detail, but realize that NumPy arrays and matrices are a fundamental building block of the Python Machine Learning ecosystem. 

For more information on how Numpy Arrays work "under the hood" check out its [documentation](https://docs.scipy.org/doc/numpy/reference/internals.html)

Jake VanderPlas, one of the core contributors to the machine learning package Sci-kit Learn, created the image above, and he wrote a really great article explaining why Python is generally slow, linked [here](https://jakevdp.github.io/blog/2014/05/09/why-python-is-slow/).

## What is Pandas?
Pandas is a package that makes it easy to use for data manipulation and analysis within Python through its use of two data structures: Series (1D) and DataFrames (2D). Pandas is fast and powerful because it is built on the NumPy arrays we learned about earlier.

## Pandas Series

A **Series** is a one-dimensional NumPy array with indices. The data in the array can be of any type (integers, strings, dictionaries, etc.), and the indices should be unique values. In most cases, indices are strings, integers, or dates. Series are used to build DataFrames, which we'll talk about very soon.

### Creating a Series
The simplest way to make a series is with a list, however there are other ways that you may look up if you would like.

In [ ]:
list1 = ['First', 'Second', 'Third', 'Fourth']
s1 = pd.Series(list1)
print("hello")

In Pandas, the data type of strings, or values that contain characters and numbers, are called **objects**

If you have a mix of numbers and strings within a Series, then the datatypes of the Series will be objects.

In [ ]:
s1

### Getting the index of a Series

In [ ]:
s1.index

### Changing the index of a Series

In [ ]:
s1.index = ['one','two','three','four']
s1

### Applying an operation to every item in a Series

In [ ]:
# A Series of strings to manipulate
s2 = pd.Series(['a','bkj','chf','d','ejh','f','gh'])

# Use a lambda (anonamous) function inside of the .apply() method to change all of the characters in s2 to upper case
s2 = s2.apply(lambda x: x.upper())
s2

In [ ]:
import pandas as pd

s1 = pd.Series(["First", "Second", "Third", "Fourth"])
print(s1)
print(s1)

In [ ]:
x = pd.Series([1,2,3,4], index = ["a", "b", "c","d"])
y = pd.Series([5,6,7,8], index = ["b", "c", "d","e"])
z = x + y # Adds based on the index 
print(z)

Notice: Pandas fills any unknown values with "NaN". Adding the two series, Pandas didn't know how to add 1 + "NaN" for the A index so the result is also "NaN." This is important because you will likely have to deal with missing "NaN" values when cleaning datasets.

### Sorting Values

In [ ]:
# A Series of numbers to sort
s3 = pd.Series([5,8,6,2,4,1,3,9,0,7])

# s3 sorted
s3.sort_values(ascending = True)

### Getting the counts of distinct values in a Series

In [ ]:
# A series of fruit
s4 = pd.Series(['apple','orange','pear','apple','orange','apple'])

# The counts of all of the distinct values in s4
s4.value_counts()

These functions can be applied to the columns of a dataframe, since the columns in a DataFrame are Series…

## DataFrames
A DataFrame is a 2-Dimensional Pandas data structure with labeled rows and columns. Each row shares a common index value. Each column of a DataFrame is a Series itself. There are many, many ways of creating a DataFrame. We'll go over one way, and you'll learn more as you use Pandas. 

This image illustrates a few ways that may be useful: ![](pandas-dataframe-shadow.png)

Let's create a DataFrame using a dictionary of Series

In [ ]:
makes = pd.Series(['Ford','Audi','Toyota','Fiat'])
models = pd.Series(['GT','R8','Camry','Panda'])

cars = pd.DataFrame({'make':makes, 'model':models})
cars

### Getting the column names of a dataframe

In [ ]:
cars.columns

### Changing column names

In [ ]:
cars.columns = ['Make','Model']
print(cars.columns)
cars

### Adding columns to a DataFrame

In [ ]:
# adding a price column from a Series
cars['Price'] = pd.Series([139995, 164900, 23495, 23490])
# adding a price column from a list
cars['Quantity_Sold'] = [100,150,350, 250]

cars

Notice that making a column with a series and with a list yield the same outcome. This is because the new column is converted into a series automatically when added to the DataFrame, no matter the form.

### "Engineering" a new column using other columns

In [ ]:
#feature engineering
cars['Revenue'] = cars['Price'] * cars['Quantity_Sold']

cars

### Removing columns

The **.drop()** method will return a DataFrame without the specified rows or columns. 

The **axis** argument is used to indicate whether or not to drop rows or columns and the **inplace** argument is used to indicate whether the function should simply return a DataFrame, or edit the original one directly. These two arguments appear in many Pandas methods and so you will likely come across them again.

For this example we will first create a column of NaN's to later delete as an example…

In [ ]:
#create column of NaNs
cars['toDelete'] = np.nan
cars

In [ ]:
#Delete "toDelete" column..
cars.drop('toDelete', axis= 1, inplace = True)
cars

### Setting the index of a DataFrame

You won't always want to keep the default index of your DataFrame, so here we will make the index the 'Make' column

In [41]:
# You can add rows by using the loc function
cars_df.loc["Ford"] = ["Focus", 899.99]
print(cars_df)

           Model   Price
Honda      Civic  699.99
Toyota     Camry  999.99
Hyundai  Elantra  799.99
Ford       Focus  899.99

In [42]:
# # You can delete rows by using the drop function, which returns a DF without the selected row
# print(cars_df)
# print()
print(cars_df.drop('Ford'))
print(cars_df)

           Model   Price
Honda      Civic  699.99
Toyota     Camry  999.99
Hyundai  Elantra  799.99
           Model   Price
Honda      Civic  699.99
Toyota     Camry  999.99
Hyundai  Elantra  799.99
Ford       Focus  899.99

In [ ]:
# Inplace as true will change the DataFrame itself and returns nothing
cars_df.drop('Ford', inplace=True)
print(cars_df)

Let's add some more cars to the dataframe

In [44]:
cars_df.loc["Ford"] = ["Focus", 899.99]
cars_df.loc["Mercedes"] = ["S Class", 1299.99]
cars_df.loc["Infiniti"] = ["Q60", 1099.99]
cars_df.loc["Nissan"] = ["370Z", 1499.99]

# Print first 5
print(cars_df.head(3)) 
print()

# Print last 5
print(cars_df.tail(4))
print()

# Print all
print(cars_df)

           Model   Price
Honda      Civic  699.99
Toyota     Camry  999.99
Hyundai  Elantra  799.99

            Model    Price
Ford        Focus   899.99
Mercedes  S Class  1299.99
Infiniti      Q60  1099.99
Nissan       370Z  1499.99

            Model    Price
Honda       Civic   699.99
Toyota      Camry   999.99
Hyundai   Elantra   799.99
Ford        Focus   899.99
Mercedes  S Class  1299.99
Infiniti      Q60  1099.99
Nissan       370Z  1499.99

Adding, setting, and deleting columns are like operating with dictionaries

In [45]:
cars_df["Quantity"] = [100, 200, 300, 400, 300, 100, 200]
cars_df["Door_Style"] = ["Sedan", "Sedan", "Sedan", "Sedan", "Coupe", "Coupe", "Coupe"]
cars_df["Revenue"] = cars_df["Price"]*cars_df["Quantity"]
print(cars_df)

            Model    Price  Quantity Door_Style   Revenue
Honda       Civic   699.99       100      Sedan   69999.0
Toyota      Camry   999.99       200      Sedan  199998.0
Hyundai   Elantra   799.99       300      Sedan  239997.0
Ford        Focus   899.99       400      Sedan  359996.0
Mercedes  S Class  1299.99       300      Coupe  389997.0
Infiniti      Q60  1099.99       100      Coupe  109999.0
Nissan       370Z  1499.99       200      Coupe  299998.0

In [46]:
# let's drop the 'Model' column 
del cars_df["Model"]
# can also use: cars_df.drop('Model', 1, inplace = True)
print(cars_df)
print()
# Let's reinsert the Model column again back in its original position
cars_df.insert(0, "Model",["Civic", "Camry", "Elantra", "Focus", "S Class", "Q60", "370Z"]) 
print(cars_df)

            Price  Quantity Door_Style   Revenue
Honda      699.99       100      Sedan   69999.0
Toyota     999.99       200      Sedan  199998.0
Hyundai    799.99       300      Sedan  239997.0
Ford       899.99       400      Sedan  359996.0
Mercedes  1299.99       300      Coupe  389997.0
Infiniti  1099.99       100      Coupe  109999.0
Nissan    1499.99       200      Coupe  299998.0

            Model    Price  Quantity Door_Style   Revenue
Honda       Civic   699.99       100      Sedan   69999.0
Toyota      Camry   999.99       200      Sedan  199998.0
Hyundai   Elantra   799.99       300      Sedan  239997.0
Ford        Focus   899.99       400      Sedan  359996.0
Mercedes  S Class  1299.99       300      Coupe  389997.0
Infiniti      Q60  1099.99       100      Coupe  109999.0
Nissan       370Z  1499.99       200      Coupe  299998.0

In [47]:
# Moving a column to a different position

rev = cars_df.pop("Revenue") # returns a column, which is removed from the data frame (Think CTRL-X)
cars_df.insert(3, "Revenue", rev) # CTRL-V
print(cars_df)

            Model    Price  Quantity   Revenue Door_Style
Honda       Civic   699.99       100   69999.0      Sedan
Toyota      Camry   999.99       200  199998.0      Sedan
Hyundai   Elantra   799.99       300  239997.0      Sedan
Ford        Focus   899.99       400  359996.0      Sedan
Mercedes  S Class  1299.99       300  389997.0      Coupe
Infiniti      Q60  1099.99       100  109999.0      Coupe
Nissan       370Z  1499.99       200  299998.0      Coupe

## Indexing a DataFrame
There are multiple ways of indexing a DataFrame. 

To get a column, we just put the column name within square brackets, or use '.' notation

In [48]:
print(cars_df["Model"])
print()
print(cars_df.Model)

# The output is a Series with the left-hand column as the index, and the right hand column as the column values

Honda         Civic
Toyota        Camry
Hyundai     Elantra
Ford          Focus
Mercedes    S Class
Infiniti        Q60
Nissan         370Z
Name: Model, dtype: object

Honda         Civic
Toyota        Camry
Hyundai     Elantra
Ford          Focus
Mercedes    S Class
Infiniti        Q60
Nissan         370Z
Name: Model, dtype: object

To get a row or index, there are two ways. 
* .loc[label] will select the row by its label 
* .iloc[integer_location] will select the row by its integer location of the index

In [50]:
print(cars_df.loc["Toyota"])

print()

# In cars_df, the Toyota is the 2nd index in the df, so it corresponds to "1" in indexing (Indexing starts at 0)
print(cars_df.iloc[1])

Model          Camry
Price         999.99
Quantity         200
Revenue       199998
Door_Style     Sedan
Name: Toyota, dtype: object

Model          Camry
Price         999.99
Quantity         200
Revenue       199998
Door_Style     Sedan
Name: Toyota, dtype: object

We can also print multiple rows by taking an index list argument.

Suppose we want info on just Honda and Toyota…

In [51]:
# Notice that the output is a DataFrame
print(cars_df.loc[ ["Honda", "Toyota"] ])
print()
# We can also do the same with .iloc[], except use slicing
print(cars_df.iloc[0:2])
print()
# A more convenient way of doing this is:
print(cars_df[0:2])

        Model   Price  Quantity   Revenue Door_Style
Honda   Civic  699.99       100   69999.0      Sedan
Toyota  Camry  999.99       200  199998.0      Sedan

        Model   Price  Quantity   Revenue Door_Style
Honda   Civic  699.99       100   69999.0      Sedan
Toyota  Camry  999.99       200  199998.0      Sedan

        Model   Price  Quantity   Revenue Door_Style
Honda   Civic  699.99       100   69999.0      Sedan
Toyota  Camry  999.99       200  199998.0      Sedan

Lastly, we can select rows using boolean indexing

In [52]:
cars_df["High_rev"] = cars_df["Revenue"]>150000
print(cars_df)
print()

# Let's select cars that only earn high revenues
print(cars_df.loc[(cars_df["High_rev"])])
print() 

# Let's select cars that only earn low revenues
print(cars_df.loc[-(cars_df["High_rev"])])

            Model    Price  Quantity   Revenue Door_Style  High_rev
Honda       Civic   699.99       100   69999.0      Sedan     False
Toyota      Camry   999.99       200  199998.0      Sedan      True
Hyundai   Elantra   799.99       300  239997.0      Sedan      True
Ford        Focus   899.99       400  359996.0      Sedan      True
Mercedes  S Class  1299.99       300  389997.0      Coupe      True
Infiniti      Q60  1099.99       100  109999.0      Coupe     False
Nissan       370Z  1499.99       200  299998.0      Coupe      True

            Model    Price  Quantity   Revenue Door_Style  High_rev
Toyota      Camry   999.99       200  199998.0      Sedan      True
Hyundai   Elantra   799.99       300  239997.0      Sedan      True
Ford        Focus   899.99       400  359996.0      Sedan      True
Mercedes  S Class  1299.99       300  389997.0      Coupe      True
Nissan       370Z  1499.99       200  299998.0      Coupe      True

          Model    Price  Quantity   Revenue Door_Style  High_rev
Honda     Civic   699.99       100   69999.0      Sedan     False
Infiniti    Q60  1099.99       100  109999.0      Coupe     False

In [53]:
# We can also accomplish the same task as in the previous cell in a single line:
cars_df.loc[cars_df.Revenue > 150000]

            Model    Price  Quantity   Revenue Door_Style  High_rev
Toyota      Camry   999.99       200  199998.0      Sedan      True
Hyundai   Elantra   799.99       300  239997.0      Sedan      True
Ford        Focus   899.99       400  359996.0      Sedan      True
Mercedes  S Class  1299.99       300  389997.0      Coupe      True
Nissan       370Z  1499.99       200  299998.0      Coupe      True

We can select for rows and columns at the same time

In [54]:
print("The number of Toyotas is: " + str(cars_df.loc["Toyota"]["Quantity"]))
print()

# Printing Hyundai's model and price
print(cars_df.loc[["Hyundai"],["Model", "Price"]])
print()

# Printing the first two cars and the first three columns with iloc
print(cars_df.iloc[:2,:3])

The number of Toyotas is: 200

           Model   Price
Hyundai  Elantra  799.99

        Model   Price  Quantity
Honda   Civic  699.99       100
Toyota  Camry  999.99       200

The fastest way to get and set single (non-array) values is using the **at** or **iat** functions
* at function is for label lookups (like loc)
* iat function is for integer-based label lookups (like iloc)

In [55]:
print("The number of Toyotas is: " + str(cars_df.at["Toyota","Quantity"]))
print()

# we can change the value of a specific cell:
cars_df.iat[1, 2] = 300

print("The number of Toyotas is: " + str(cars_df.iat[1,2]))
print()
print(cars_df.head())

The number of Toyotas is: 200

The number of Toyotas is: 300

            Model    Price  Quantity   Revenue Door_Style  High_rev
Honda       Civic   699.99       100   69999.0      Sedan     False
Toyota      Camry   999.99       300  199998.0      Sedan      True
Hyundai   Elantra   799.99       300  239997.0      Sedan      True
Ford        Focus   899.99       400  359996.0      Sedan      True
Mercedes  S Class  1299.99       300  389997.0      Coupe      True

Let's wrap up today by outputing our cars dataframe to a CSV file.

In [56]:
output = cars_df.to_csv("cars.csv")

## Other Operations

In [ ]:
# Importing data from a csv

In [ ]:
# Prints the mean of all the numeric columns
print(cars_df.mean())
print()

# Print summary statistics
# Very useful for exploratory data analysis! 
print(cars_df.describe())
?pd.DataFrame.describe()
print()

# You can apply lambda(anonymous) functions to certain columns in your dataframe for quick manipulations
print(cars_df["Model"].apply(lambda x: x.upper()))

In [ ]:
# Querying / Filtering
print(cars_df)
print()
# Select car models that are 'coupe' styled and earn high revenue
print(cars_df.query('Door_Style=="Coupe" & High_rev'))
print()

In [ ]:
# Grouping summaries
print(cars_df.groupby('Door_Style').mean())
print()

# Just the mean of the revenues for each door_style
print(cars_df.groupby('Door_Style')["Revenue"].mean())
print()

# Multiple grouping options
print(cars_df.groupby(['Door_Style', "High_rev"]).mean())
print()

# Multiple grouping and selecting specific columns
print(cars_df.groupby(['Door_Style', "High_rev"])['Price', 'Quantity'].mean())

In [ ]:
# Binning data into categories
percentiles = [0, cars_df["Price"].quantile(0.25), cars_df["Price"].quantile(0.75), cars_df["Price"].max()]
price_type = ["Inexpensive", "Midrange", "Luxury"]

# The cut function is useful for taking continuous variables, like price, and making them categorical!
cars_df["Price_type"] = pd.cut(cars_df['Price'], percentiles, labels=price_type)
print(cars_df)

# But the values in "Price_type" aren't true categories yet...

In [ ]:
# Take the price_type values and turn them into categories (faster operations under the hood)
# Notice the order of the categoricals
cars_df["Price_type"] = cars_df["Price_type"].astype("category")
print(cars_df["Price_type"])
print()
print("Is the Series ordered? " + str(cars_df["Price_type"].cat.ordered))

cars_df["Price_type"] = cars_df["Price_type"].cat.as_unordered()
print("Is the Series ordered? " + str(cars_df["Price_type"].cat.ordered))

In [ ]:
# We are currently in the wrong order! 
    # Inexpensive < Luxury < Midrange
# Let's change it to the right order:
    # Inexpensive < Midrange < Luxury
cars_df["Price_type"] = cars_df["Price_type"].cat.reorder_categories(["Inexpensive","Midrange","Luxury"], ordered=True)

print(cars_df["Price_type"])
print()
print(cars_df.sort_values(by="Price_type")) # Try changing "Price_type" to "Revenue"!

In [ ]:
print(cars_df["Price_type"].value_counts())
print()
print(cars_df["Price_type"].describe())
print()
print(cars_df.groupby("Price_type")["Revenue"].sum())

# Exercises

Here is a link to a github repo with lots of good Pandas exercises: https://github.com/guipsamora/pandas_exercises

## Sources:

Adapted from https://cloudxlab.com/blog/numpy-pandas-introduction/

Adapted from NumPy's QuickStart Tutorial
* https://docs.scipy.org/doc/numpy-dev/user/quickstart.html

Adapted from Pandas Documentation
* https://pandas.pydata.org/pandas-docs/stable/10min.html
* https://pandas.pydata.org/pandas-docs/stable/dsintro.html